*.dat
*.jpg
*.log
*.tdb
*.txt
.anydesk/
.bash_logout
.cache/
.cargo/
.config/aseprite/
.config/beets/
.config/Epic/
.config/unity3d/
.config/syncthing/
.config/rncbc.org/
.config/yuzu/
.config/pipewire/
.config/menus/
.config/jack/
.config/systemd/
.config/QtProject/
.config/cef_user_data/
.config/configstore/
.config/google-chrome/
.config/GNU Radio/
.config/QtProject.conf
.config/dconf/
.config/gtk-3.0/bookmarks
.config/libreoffice/
.config/pavucontrol.ini
.config/pulse/*-default-*
.config/pulse/cookie
.config/transmission-daemon/bandwidth-groups.json
.config/transmission-daemon/
.config/transmission/
.config/wgetrc
.editorconfig
.git-credentials
.gitconfig
.gnupg/
.gnuradio/
.gr_fftw_wisdom
.gr_fftw_wisdom.lock
.rubberband.wisdom.d
.nvidia-settings-rc
.python_history
.wget-hsts
.local/
.pki/
.ssh/
.steam/
.switch/
.vcpkg/
__pycache__/
Desktop/
Documents/
Downloads/
source/
Films
Music
Wallpapers
.config/ruffle/
.config/go/
.steampid
.Xauthority