*.dat
*.jpg
*.log
*.tdb
.bash_logout
.cache/
.cargo/
.config/GNU Radio/
.config/QtProject.conf
.config/dconf/
.config/gtk-3.0/bookmarks
.config/libreoffice/
.config/pavucontrol.ini
.config/pulse/*-default-*
.config/pulse/cookie
.config/transmission-daemon/bandwidth-groups.json
.editorconfig
.git-credentials
.gitconfig
.gnupg/
.gnuradio/
.gr_fftw_wisdom
.gr_fftw_wisdom.lock
.local/
.ssh/
Documents/
Downloads/
Music/
Wallpapers
__pycache__/
source/
