*.log
*.tdb
.bash_logout
.cache/
.cargo/
.config/pulse/cookie
.local/
.ssh/
Documents/
Downloads/
Music/
__pycache__/
source/
.config/pulse/*-default-*
.config/QtProject.conf
.config/pavucontrol.ini
.config/transmission-daemon/bandwidth-groups.json
.editorconfig
.gitconfig
