!!  @@@  @@@  @@@@@@@   @@@@@@@@   @@@@@@    @@@@@@
!!  @@@  @@@  @@@@@@@@  @@@@@@@@  @@@@@@@   @@@@@@@@
!!  @@!  !@@  @@!  @@@  @@!       !@@       @@!  @@@
!!  !@!  @!!  !@!  @!@  !@!       !@!       !@!  @!@
!!   !@@!@!   @!@!!@!   @!!!:!    !!@@!!    @!@  !@!
!!    @!!!    !!@!@!    !!!!!:     !!@!!!   !@!  !!!
!!   !: :!!   !!: :!!   !!:            !:!  !!:  !!!
!!  :!:  !:!  :!:  !:!  :!:           !:!   :!:  !:!
!!   ::  :::  ::   :::   :: ::::  :::: ::   ::::: ::
!!   :   ::    :   : :  : :: ::   :: : :     : :  :

! libXft -> FONT DRAWING !
#include ".config/xres/xft"

! SOURCE TERMINAL COLORS !
#include ".config/xres/themes/nord"
#include ".config/xres/base16"

#include ".config/xres/dmenu"

! Transparency (0-1): *.alpha: 0.95
st.alpha: 0.9

! FONT
st.font: Mononoki Nerd Font Mono:pixelsize=16
!! for CJK text and screenshots
!st.font: NotoSansMono Nerd Font:pixelsize=20
!st.font: NotoSansMono Nerd Font:pixelsize=14
!st.font: -gbdfed-creep-Regular-R-Normal--16-120-96-96-M-4-ISO10646-1;

