!!  @@@  @@@  @@@@@@@   @@@@@@@@   @@@@@@    @@@@@@
!!  @@@  @@@  @@@@@@@@  @@@@@@@@  @@@@@@@   @@@@@@@@
!!  @@!  !@@  @@!  @@@  @@!       !@@       @@!  @@@
!!  !@!  @!!  !@!  @!@  !@!       !@!       !@!  @!@
!!   !@@!@!   @!@!!@!   @!!!:!    !!@@!!    @!@  !@!
!!    @!!!    !!@!@!    !!!!!:     !!@!!!   !@!  !!!
!!   !: :!!   !!: :!!   !!:            !:!  !!:  !!!
!!  :!:  !:!  :!:  !:!  :!:           !:!   :!:  !:!
!!   ::  :::  ::   :::   :: ::::  :::: ::   ::::: ::
!!   :   ::    :   : :  : :: ::   :: : :     : :  :

! libXft -> FONT DRAWING !
#include ".config/xres/xft"

! SOURCE TERMINAL COLORS !
#include ".config/xres/themes/nord"
#include ".config/xres/base16"
#include ".config/xres/spec"

#include ".config/xres/core4b"
! #include ".config/xres/core4w"
#include ".config/xres/core"
#include ".config/xres/s2dterm"

!! Transparency (0-1): *.alpha: 0.95
!! "default"
#define term_alpha 0.95
st.alpha: term_alpha
st.alphaUnfocused: 0.85
!! "semi-transparent"
sts.alpha: 0.8
sts.alphaUnfocused: 0.7
!! "transparent"
stt.alpha: 0.7
stt.alphaUnfocused: 0.5
opaque.alpha: 1
opaque.alphaUnfocused: 1

!! TERM FONT
! #define term_font VictorMono NF:pixelsize=14

#define term_font Hack Nerd Font:pixelsize=14

!! font with wide chars
! #define term_font AnonymicePro Nerd Font:pixelsize=16

! #define term_font Mononoki Nerd Font:pixelsize=14

! #define term_font NotoMono NF:pixelsize=14
! #define term_font NotoMono Nerd Font:pixelsize=14

!! for CJK texts
! #define term_font Noto Sans Mono CJK HK:pixelsize=21

st.font: term_font
